@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #0a0a0a;
  }
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.helvetica-neue {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@keyframes fast-pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

/* Global utility class */
.animate-fastpulse {
  animation: fast-pulse 0.5s ease-in-out infinite;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 968px;
  --breakpoint-lg2: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 2560px;

}


/*   '4xl': '2560px',  // Ultra-wide & 4K displays
        '3xl': '1920px',  // Full HD large monitors
        '2xl': '1536px',  // Large desktop
        'xl': '1280px',   // MacBook Pro / Medium desktop
        'lg': '1024px',   // Laptops
        'md': '768px',    // Tablets
        'sm': '640px',    // Large phones / small tablets
        'xs': '480px',    // Medium phones
        'xxs': '360px',   // Small phones */

@theme {
  --color-cherryRed: #AD2239;

  /* 
   --font-fluid-sub: clamp(12px, 1vw + 10px, 16px);      /* Subheading */
  /*  --font-fluid-heading: clamp(28px, 2.5vw + 16px, 62px); /* Main heading */
  /*--font-fluid-desc: clamp(12px, 0.8vw + 8px, 18px);     /* Description */


}